#site_title {
    color: #00D994;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.map-search {
    position: relative;
    padding: 25px 0;
    display: block;
    width: 100%;
    background: #1f2022;
}
.header-nav {
    position: relative;
    box-shadow: 1px 0px 5px rgba(77, 77, 77, 0.2);
    -webkit-box-shadow: 1px 0px 5px rgba(77, 77, 77, 0.2);
    -moz-box-shadow: 1px 0px 5px rgba(77, 77, 77, 0.2);
    background: #1f2022;
}

.search-form {
    position: relative;
}

.map-search .map-toggleButton {
    position: absolute;
    top: 0;
    left: 15px;
    display: inline-block;
    width: 50px;
    height: 45px;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
.map-search .map-search-fields {
    position: relative;
    padding: 0 160px 0 70px;
}
.map-search .map-search-fields .field {
    position: relative;
    margin-right: 13px;
    width: 46%;
    float: left;
    display: inline-block;
}
.btn-primary {
    background-color: #00d793;
    border: 2px solid #00d793;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: inherit;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0;
    white-space: nowrap;
    color: #ffffff;
    padding: 8px 21.312px;
    transition: all 0.3s;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    height: 44px;
}
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #008b5f;
    border-color: #008b5f;
}
.map-search .map-search-fields .field .fa {
    position: absolute;
    left: 18px;
    top: 14px;
    color: #999;
    z-index: 99;
}

.map-search .map-search-fields .field input {
    position: relative;
    padding: 13px 16px;
    margin-bottom: 0;
    height: 45px;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.map-search .map-search-fields .field input.location {
    padding-left: 36px;
}
#map-top {
    width: 100%;position: relative; overflow: hidden;
}
#map {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);
}
.pac-container:after {
    content: none;
}
.pac-container {
    margin-top: -202px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}
#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}
#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#sticker-sticky-wrapper {
    padding: 20px 0px;
}
